<?xml version='1.0' encoding='UTF-8'?>
<TTKMusicPlayer>
    <musicSetting>
        <userPermission value="0"/>
        <playMode value="1"/>
        <playVolume value="100"/>
        <lastPlayIndex value="1,-1,-1"/>
    </musicSetting>
    <plusSetting>
        <geometry value="242,84,1000,665"/>
        <language value="0"/>
        <startUpMode value="0"/>
        <startUpPlayMode value="0"/>
        <closeEventMode value="1"/>
        <closeNetworkMode value="0"/>
        <fileAssociationMode value="0"/>
        <fileAssociationValue value=""/>
        <windowConciseMode value="0"/>
        <remoteWidgetMode value="0"/>
        <windowQuitMode value="0"/>
        <lastFileDialogPath value=""/>
        <mediaLibraryPath value=""/>
    </plusSetting>
    <otherSetting>
        <otherCheckUpdateEnable value="0"/>
        <otherUseAlbumCover value="1"/>
        <otherUseFileInfo value="1"/>
        <otherWriteAlbumCover value="1"/>
        <otherWriteFileInfo value="1"/>
        <otherSideByMode value="0"/>
        <otherLrcKTVMode value="1"/>
        <otherScreenSaverEnable value="0"/>
        <otherScreenSaverTime value="10"/>
        <otherScreenSaverIndex value=""/>
        <otherPlaylistAutoSaveEnable value="0"/>
        <otherRandomShuffleMode value="1"/>
        <otherHighDpiScalingEnable value="0"/>
        <otherLogTrackEnable value="0"/>
    </otherSetting>
    <rippleSetting>
        <rippleLowPowerMode value="0"/>
        <rippleSpectrumEnable value="1"/>
        <rippleSpectrumColor value="250,218,131"/>
        <rippleSpectrumTransparent value="100"/>
    </rippleSetting>
    <backgroundSetting>
        <backgroundThemeValue value="theme-7"/>
        <backgroundTransparent value="0"/>
        <backgroundListTransparent value="67"/>
        <backgroundTransparentEnable value="0"/>
    </backgroundSetting>
    <hotkeySetting>
        <hotkeyEnable value="0"/>
        <hotkeyValue value=""/>
    </hotkeySetting>
    <interiorLrcSetting>
        <lrcColor value="0"/>
        <lrcSize value="18"/>
        <lrcFamily value="0"/>
        <lrcType value="1"/>
        <lrcTransparent value="100"/>
        <lrcFrontgroundColor value="250,218,131;250,218,131;250,218,131;"/>
        <lrcBackgroundColor value="255,255,255;255,255,255;255,255,255;"/>
    </interiorLrcSetting>
    <desktopLrcSetting>
        <showDesktopLrc value="0"/>
        <lrcDColor value="10"/>
        <lrcDSize value="36"/>
        <lrcDFamily value="0"/>
        <lrcDType value="1"/>
        <lrcDTransparent value="100"/>
        <lrcDFrontgroundColor value="130,247,253;255,255,255;3,233,252;"/>
        <lrcDBackgroundColor value="0,52,138;0,128,192;3,202,252;"/>
        <lrcDWindowMode value="1"/>
        <lrcDSingleLineMode value="0"/>
        <lrcDLockedMode value="0"/>
        <lrcDGeometry value="178,415"/>
    </desktopLrcSetting>
    <equalizerSetting>
        <enhancedMusicIndex value="3"/>
        <equalizerEnable value="0"/>
        <equalizerIndex value="5"/>
        <equalizerValue value="0,-6,6,6,3,2,-2,-5,-6,-8,-8"/>
        <enhancedFadeEnable value="0"/>
        <enhancedFadeInValue value="1000"/>
        <enhancedFadeOutValue value="1000"/>
        <enhancedEffectValue value=""/>
    </equalizerSetting>
    <timeSetting>
        <timeAutoIndex value="0"/>
        <timeAutoPlayMode value="1"/>
        <timeAutoPlayHour value="20"/>
        <timeAutoPlaySecond value="45"/>
        <timeAutoPlayRepeat value="0"/>
        <timeAutoPlayItemIndex value="0"/>
        <timeAutoPlaySongIndex value="-1"/>
        <timeAutoStopMode value="1"/>
        <timeAutoStopHour value="15"/>
        <timeAutoStopSecond value="38"/>
        <timeAutoStopRepeat value="0"/>
        <timeAutoShutdownMode value="1"/>
        <timeAutoShutdownHour value="1"/>
        <timeAutoShutdownSecond value="54"/>
        <timeAutoShutdownRepeat value="0"/>
    </timeSetting>
    <downloadSetting>
        <downloadMusicPath value=""/>
        <downloadLrcPath value=""/>
        <downloadFileNameRule value="%artist - %title"/>
        <downloadCacheEnable value="1"/>
        <downloadCacheSize value="1024"/>
        <downloadLimitEnable value="1"/>
        <downloadServerIndex value="0"/>
        <downloadDownloadLimitSize value="100"/>
        <downloadUploadLimitSize value="100"/>
    </downloadSetting>
</TTKMusicPlayer>
