# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai

# QtCreator
*.bak
*.autosave

# Qt
*.user
*.user.*
*.aps
*.prl
*.moc
*moc_*
qrc_*.cpp
ui_*.h

# Build
Makefile*
*build-*

# Other
*.*-pre1
*.*~
*.uxf

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
