#if defined(UNDER_CE)
    include <winbase.h>
#else
    #include <winver.h>
#endif

#define TTK_FILEVERSION 1,0,0,0
#define TTK_PRODUCTVERSION "1.0.0.0"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION TTK_FILEVERSION
    PRODUCTVERSION TTK_FILEVERSION
    FILEFLAGSMASK 0x3fL

#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif

    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "Greedysky Studio, Ltd."
                VALUE "FileDescription", "TTKZip"
                VALUE "FileVersion", TTK_PRODUCTVERSION
                VALUE "LegalCopyright", "Copyright (C) 2022 Greedysky Studio"
                VALUE "ProductName", "TTKZip"
                VALUE "ProductVersion", TTK_PRODUCTVERSION
            END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
