#if defined(UNDER_CE)
    include <winbase.h>
#else
    #include <winver.h>
#endif

IDI_ICON1                ICON     DISCARDABLE     "../TTKResource/lb_app_logo.ico"
IDI_ICON2                ICON     DISCARDABLE     "../TTKResource/fileIcon/fileIcon.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 2,9,0,0
    PRODUCTVERSION 2,9,0,0
    FILEFLAGSMASK 0x3fL

#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif

    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "Greedysky Studio, Ltd."
                VALUE "FileDescription", "天天酷音"
                VALUE "FileVersion", "2.9.0.0"
                VALUE "InternalName", "天天酷音.exe"
                VALUE "LegalCopyright", "Copyright By Greedysky Studio(C)2019"
                VALUE "OriginalFilename", "天天酷音.exe"
                VALUE "ProductName", "天天酷音"
                VALUE "ProductVersion", "2.9.0.0"
            END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
