[Desktop Entry]
Type=Application
Version=2.9.0.0
Name=天天酷音
Comment=天天酷音
#Icon=~/ttkmusicplayer/usr/share/pixmaps/ttkmusicplayer.png
#Exec=~/ttkmusicplayer/usr/bin/TTKMusicplayer
#Path=~/ttkmusicplayer/usr/bin
Terminal=false
Categories=Development;
