# Author: Greedysky <greedysky@163.com>

name: doxygen

on: workflow_call

env:
  TTK_MODULE: TTKMusicPlayer
  TTK_VERSION: 4.3.0.0

jobs:
  build:
    name: Build on document by doxygen

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build package
        run: |
          sudo apt install graphviz doxygen
          doxygen Doxyfile
          # add main html page
          echo -n '<!DOCTYPE html>
          <html>
            <body>
              <script>window.location.href="html/index.html"</script>
            </body>
          </html>' > TTKDocs/main.html
          # add package
          7z a ${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-document.7z TTKDocs
        working-directory: ${{github.workspace}}

      - name: Archive artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: continuous-build
          token: ${{secrets.GITHUB_TOKEN}}
          generate_release_notes: false
          files: ${{github.workspace}}/${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-document.7z
