# Author: Greedysky <greedysky@163.com>

name: linux

on: workflow_call

env:
  TTK_MODULE: TTKMusicPlayer
  TTK_VERSION: 4.2.0.0

jobs:
  build:
    name: Build on Qt5
    strategy:
      matrix:
        os: [ubuntu-22.04]

    env:
      QT_VERSION: 5.9.9
      QMMP_DEPS_PATH: ${{github.workspace}}/extra/gcc

    runs-on: ${{matrix.os}}
    steps:
      - name: Clone qmmp module
        run: git clone -b plugins https://github.com/Greedysky/${{env.TTK_MODULE}}.git
        working-directory: ${{runner.workspace}}

      - name: Cache Qt
        uses: actions/cache@v4
        with:
          path: ${{runner.workspace}}/Qt
          key: ${{runner.os}}-QtCache-${{env.QT_VERSION}}

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QT_VERSION}}
          target: desktop
          modules: qtwebengine
          cache: 'true'

      - name: Install linuxdeploy
        uses: miurahr/install-linuxdeploy-action@v1
        with:
          plugins: qt appimage

      - name: Install dependencies
        run: |
          sudo apt install libfuse2 p7zip-full
          sudo apt install texinfo rename
          sudo apt install portaudio19-dev
          sudo apt install libnss3

      - name: Create thirdParty dir
        run: mkdir -p ${{env.QMMP_DEPS_PATH}}
        working-directory: ${{runner.workspace}}

      - name: Install thirdParty dependencies
        run: |
          wget https://github.com/Greedysky/TTKMusicPlayer/releases/download/continuous-build/thirdParty-libraries-ubuntu-22.04-x64.7z -O thirdParty-libraries.7z
          7z x thirdParty-libraries.7z
        working-directory: ${{github.workspace}}/extra

      - name: Build qmmp project
        run: |
          qmake -v
          qmake "CONFIG+=release" qmmp
          make -j2
        working-directory: ${{github.workspace}}

      - name: Build qmmp package
        run: |
          # add dependency for theme
          wget https://github.com/Greedysky/Resource/releases/download/1.0.0.0/theme.7z
          7z x theme.7z
          mv GTheme bin/${{env.TTK_VERSION}}
          # add dependency for global plugins
          wget https://github.com/Greedysky/${{env.TTK_MODULE}}/releases/download/continuous-build/qmmp-gplugins-linux.7z
          7z x qmmp-gplugins-linux.7z
          mv GPlugins bin/${{env.TTK_VERSION}}
          # remove useless qmmp demo bin
          rm bin/${{env.TTK_VERSION}}/demo
          # copy ffmpeg libraries
          cp ${{env.QMMP_DEPS_PATH}}/libffmpeg/lib/libavcodec.so.57.107.100 bin/${{env.TTK_VERSION}}/libavcodec.so.57
          cp ${{env.QMMP_DEPS_PATH}}/libffmpeg/lib/libavformat.so.57.83.100 bin/${{env.TTK_VERSION}}/libavformat.so.57
          cp ${{env.QMMP_DEPS_PATH}}/libffmpeg/lib/libavutil.so.55.78.100 bin/${{env.TTK_VERSION}}/libavutil.so.55
          cp ${{env.QMMP_DEPS_PATH}}/libffmpeg/lib/libswresample.so.2.9.100 bin/${{env.TTK_VERSION}}/libswresample.so.2
          # copy sunvox libraries
          cp ${{env.QMMP_DEPS_PATH}}/libsunvox/sunvox.so bin/${{env.TTK_VERSION}}
          # copy optimfrog libraries
          cp ${{env.QMMP_DEPS_PATH}}/liboptimfrog/lib/libOptimFROG.so.0 bin/${{env.TTK_VERSION}}
          # copy uadecore
          cp ${{env.QMMP_DEPS_PATH}}/libttk/bin/uadecore bin/${{env.TTK_VERSION}}/GPlugins/config/uade
          mv bin ${{runner.workspace}}/qmmp
          # add portable binary package
          7z a qmmp-qt5-linux-x64.7z ${{runner.workspace}}/qmmp/${{env.TTK_VERSION}}
        working-directory: ${{github.workspace}}

      - name: Archive artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: continuous-build
          token: ${{secrets.GITHUB_TOKEN}}
          generate_release_notes: false
          files: ${{github.workspace}}/qmmp-qt5-linux-x64.7z

      - name: Clean up qmmp build
        run: |
          rm -rf ${{github.workspace}}
          rm -rf ${{runner.workspace}}/thirdParty
        working-directory: ${{runner.workspace}}

      - name: Clone ttk music player module
        run: git clone https://github.com/Greedysky/${{env.TTK_MODULE}}.git
        working-directory: ${{runner.workspace}}

      - name: Create build dir
        run: mkdir build
        working-directory: ${{runner.workspace}}

      - name: Build ttk music player project
        run: |
          cmake --version
          cmake ${{github.workspace}} -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/install -DTTK_QT_VERSION=5 -DTTK_QMMP_LIBRARY=${{runner.workspace}}/qmmp/${{env.TTK_VERSION}}/libTTKqmmp.so
          make -j2 && make install
        working-directory: ${{runner.workspace}}/build

      - name: Build ttk music player package
        run: |
          # add dependency for qmmp library
          cp -rf ${{runner.workspace}}/qmmp/${{env.TTK_VERSION}} ${{env.TTK_MODULE}}
          cd ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}
          # add dependency libraries and so on
          linuxdeploy-x86_64.AppImage --executable=TTKService --appdir=image --plugin=qt
          rm image/usr/translations/*.qm image/usr/lib/libTTK*.so image/usr/lib/libttkzip.so image/usr/lib/libzlib.so
          mv image/usr/lib image/usr/plugins image/usr/translations image/usr/bin/qt.conf ..
          rm -rf image
          # add dependency for nss and webkit
          if [ ${{matrix.os}} == "ubuntu-24.04" ]; then
            cp /usr/lib/x86_64-linux-gnu/libnssckbi.so ../lib
            cp /usr/lib/x86_64-linux-gnu/libsoftokn3.so ../lib
          else
            cp /usr/lib/x86_64-linux-gnu/nss/libnssckbi.so ../lib
            cp /usr/lib/x86_64-linux-gnu/nss/libsoftokn3.so ../lib
          fi
          cp ${{runner.workspace}}/Qt/${{env.QT_VERSION}}/gcc_64/libexec/* .
          cp ${{runner.workspace}}/Qt/${{env.QT_VERSION}}/gcc_64/resources/* .
          cd ../..
          # add dependency for openssl
          wget https://github.com/Greedysky/Resource/releases/download/1.0.0.0/openssl.7z
          7z x openssl.7z
          cp linux64/* ${{env.TTK_MODULE}}/lib
          # add portable binary package
          7z a ${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-linux-x64.7z ${{env.TTK_MODULE}}
        working-directory: ${{runner.workspace}}/install

      - name: Build appimage package
        run: |
          # create usr building dir
          mv ${{env.TTK_MODULE}} usr
          mkdir ${{env.TTK_MODULE}}
          mv usr ${{env.TTK_MODULE}}
          cd ${{env.TTK_MODULE}}
          mv usr/doc usr/README.txt .
          # add dependency files
          ln -s usr/${{env.TTK_MODULE}} AppRun
          cp usr/deploy/share/pixmaps/ttkmusicplayer.png logo.png
          sh usr/deploy/make_desktop_raw.sh ${{env.TTK_MODULE}}.desktop logo ${{env.TTK_MODULE}}
          cd ..
          # add appimage binary package
          linuxdeploy-plugin-appimage-x86_64.AppImage --appdir=${{env.TTK_MODULE}}
          mv ${{env.TTK_MODULE}}*.AppImage ${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-linux-x64.AppImage
        working-directory: ${{runner.workspace}}/install

      - name: Archive artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: continuous-build
          token: ${{secrets.GITHUB_TOKEN}}
          generate_release_notes: false
          files: |
            ${{runner.workspace}}/install/${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-linux-x64.7z
            ${{runner.workspace}}/install/${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-linux-x64.AppImage
