# Author: Greedysky <greedysky@163.com>

name: win10-mingw

on: workflow_call

env:
  TTK_MODULE: TTKMusicPlayer
  TTK_VERSION: 4.2.0.0

jobs:
  build:
    name: Build on Qt6
    strategy:
      matrix:
        os: [windows-2022]

    env:
      QT_VERSION: 6.9.3
      MINGW_PATH: D:/a/TTKMusicPlayer/mingw/bin
      WIN_QMMP_DEPS_PATH: D:/a/TTKMusicPlayer/TTKMusicPlayer/extra/gcc
      UNIX_QMMP_DEPS_PATH: /d/a/TTKMusicPlayer/TTKMusicPlayer/extra/gcc

    runs-on: ${{matrix.os}}
    steps:
      - name: Clone qmmp module
        run: git clone -b plugins https://github.com/Greedysky/${{env.TTK_MODULE}}.git
        working-directory: ${{runner.workspace}}

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{env.QT_VERSION}}
          host: windows
          arch: win64_mingw
          target: desktop
          modules: qtmultimedia qtimageformats
          cache: 'true'

      - name: Install MinGW1310_64
        run: |
          curl -L https://github.com/Greedysky/Resource/releases/download/1.0.0.0/mingw1310_64.7z -o mingw.7z
          7z x mingw.7z -omingw
          # remove default installed mingw64
          mv C:\mingw64 C:\mingw64_useless
          # set environment variable
          echo "${{env.MINGW_PATH}};" >> $env:GITHUB_PATH
        working-directory: ${{runner.workspace}}

      - name: Create thirdParty dir
        shell: bash
        run: mkdir -p ${{env.UNIX_QMMP_DEPS_PATH}}
        working-directory: ${{runner.workspace}}

      - name: Install thirdParty dependencies
        run: |
          curl -L https://github.com/Greedysky/TTKMusicPlayer/releases/download/continuous-build/thirdParty-libraries-win-mingw1310-x64.7z -o thirdParty-libraries.7z
          7z x thirdParty-libraries.7z
        working-directory: ${{github.workspace}}/extra

      - name: Build qmmp project
        run: |
          qmake -v
          qmake "CONFIG+=release" qmmp
          mingw32-make -j2
        working-directory: ${{github.workspace}}

      - name: Build qmmp package
        run: |
          # add dependency for theme
          curl -L https://github.com/Greedysky/Resource/releases/download/1.0.0.0/theme.7z -o theme.7z
          7z x theme.7z
          mv GTheme bin/${{env.TTK_VERSION}}
          # add dependency for openssl
          curl -L https://github.com/Greedysky/Resource/releases/download/1.0.0.0/openssl.7z -o openssl.7z
          7z x openssl.7z
          cp win64/v1/*.dll bin/${{env.TTK_VERSION}}
          # add dependency for global plugins
          curl -L https://github.com/Greedysky/${{env.TTK_MODULE}}/releases/download/continuous-build/qmmp-gplugins-win.7z -o qmmp-gplugins-win.7z
          7z x qmmp-gplugins-win.7z
          mv GPlugins_x64 bin/${{env.TTK_VERSION}}/GPlugins
          # remove useless qmmp demo bin
          rm bin/${{env.TTK_VERSION}}/demo.exe
          # copy ffmpeg libraries
          cp ${{env.WIN_QMMP_DEPS_PATH}}/libffmpeg/bin/avcodec-57.dll bin/${{env.TTK_VERSION}}
          cp ${{env.WIN_QMMP_DEPS_PATH}}/libffmpeg/bin/avformat-57.dll bin/${{env.TTK_VERSION}}
          cp ${{env.WIN_QMMP_DEPS_PATH}}/libffmpeg/bin/avutil-55.dll bin/${{env.TTK_VERSION}}
          cp ${{env.WIN_QMMP_DEPS_PATH}}/libffmpeg/bin/swresample-2.dll bin/${{env.TTK_VERSION}}
          # copy sunvox libraries
          cp ${{env.WIN_QMMP_DEPS_PATH}}/libsunvox/sunvox.dll bin/${{env.TTK_VERSION}}
          # copy optimfrog libraries
          cp ${{env.WIN_QMMP_DEPS_PATH}}/liboptimfrog/bin/libOptimFROG.dll bin/${{env.TTK_VERSION}}
          mv bin ${{runner.workspace}}/qmmp
          # add portable binary package
          7z a qmmp-qt6-win-mingw1310-x64.7z ${{runner.workspace}}/qmmp/${{env.TTK_VERSION}}
        working-directory: ${{github.workspace}}

      - name: Archive artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: continuous-build
          token: ${{secrets.GITHUB_TOKEN}}
          generate_release_notes: false
          files: ${{github.workspace}}/qmmp-qt6-win-mingw1310-x64.7z

      - name: Clean up qmmp build
        shell: bash
        run: |
          rm -rf "${{github.workspace}}"
          rm -rf "${{runner.workspace}}/thirdParty"
        working-directory: ${{runner.workspace}}

      - name: Clone ttk music player module
        run: git clone https://github.com/Greedysky/${{env.TTK_MODULE}}.git
        working-directory: ${{runner.workspace}}

      - name: Create build dir
        run: mkdir build
        working-directory: ${{runner.workspace}}

      - name: Build ttk music player project
        run: |
          cmake --version
          cmake ${{github.workspace}} -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/install -DCMAKE_PREFIX_PATH=${{env.QT_ROOT_DIR}} -DTTK_QT_VERSION=6 -DTTK_QMMP_LIBRARY=${{runner.workspace}}/qmmp/${{env.TTK_VERSION}}/libTTKqmmp.a
          mingw32-make -j2 && mingw32-make install
        working-directory: ${{runner.workspace}}/build

      - name: Build ttk music player package
        run: |
          # add dependency for qmmp library
          cp ${{runner.workspace}}/qmmp/${{env.TTK_VERSION}} ${{env.TTK_MODULE}} -Recurse -Container -Force
          # add dependency libraries and so on
          windeployqt ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/TTKService.exe
          cp ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/libstdc++-6.dll ${{env.TTK_MODULE}}
          cp ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/libwinpthread-1.dll ${{env.TTK_MODULE}}
          cp ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/libgcc_s_seh-1.dll ${{env.TTK_MODULE}}
          cp ${{env.QT_ROOT_DIR}}/bin/Qt6Xml.dll ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}
          cp ${{env.QT_ROOT_DIR}}/bin/Qt6Multimedia.dll ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}
          # remove useless library dependency
          ls -Filter "*.a" -Recurse | Remove-Item -Force
          rm ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/D3D*.dll
          rm ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/opengl32sw.dll
          rm ${{env.TTK_MODULE}}/${{env.TTK_VERSION}}/translations -Recurse
        working-directory: ${{runner.workspace}}/install

      - name: Add output path for install package
        shell: bash
        run: |
          sed -i "11d" "${{github.workspace}}/TTKUtils/ttk.iss"
          sed -i "11i#define OutputPath \"${{env.MINGW_PATH}}/../../install/\"" "${{github.workspace}}/TTKUtils/ttk.iss"
        working-directory: ${{runner.workspace}}

      - name: Install Inno Setup 6
        run: |
          curl -L https://github.com/Greedysky/Resource/releases/download/1.0.0.0/InnoSetup.7z -o InnoSetup.7z
          7z x InnoSetup.7z -oInnoSetup
        working-directory: ${{runner.workspace}}

      - name: Build ttk music player install package
        run: |
          # reg add "HKCU\Software\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Layers" /v "${{runner.workspace}}/InnoSetup/iscc.exe" /t REG_SZ /d "WIN7RTM RUNASADMIN" /f
          ${{runner.workspace}}/InnoSetup/iscc.exe ${{github.workspace}}/TTKUtils/ttk.iss
          mv v${{env.TTK_VERSION}}.exe ${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-win10-mingw-x64.exe
        working-directory: ${{runner.workspace}}/install

      - name: Build ttk music player portable package
        run: |
          # add portable configuration
          cp ${{github.workspace}}/TTKUtils/ttk_portable ${{env.TTK_MODULE}}
          "便携模式运行 TTKMusicPlayer.exe`r`n删除 ttk_portable 禁用便携模式" > ${{env.TTK_MODULE}}/说明.txt
          # add portable binary package
          7z a ${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-win10-mingw-x64.7z ${{env.TTK_MODULE}}
        working-directory: ${{runner.workspace}}/install

      - name: Archive artifacts
        uses: softprops/action-gh-release@v2
        with:
          tag_name: continuous-build
          token: ${{secrets.GITHUB_TOKEN}}
          generate_release_notes: false
          files: |
            ${{runner.workspace}}/install/${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-win10-mingw-x64.7z
            ${{runner.workspace}}/install/${{env.TTK_MODULE}}-${{env.TTK_VERSION}}-win10-mingw-x64.exe
